/*for mobile/tablet*/
.searchContainer,
.searchTitle {
	width: 100%;
}

.searchTitle {
	text-align: center;
}

.postContainer {
	width: 100%;
}

.postTitle {
	font-size: 3.5em;
}

/*for desktop*/
@media only screen and (min-width: 768px) {

	.searchContainer,
	.searchTitle {
		width: 50%;
	}

	.searchTitle {
		text-align: left;
	}

	.postContainer {
		width: 50%;
	}

	.postTitle {
		font-size: 4.5em;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
input {
	font-family: 'Caveat Brush', cursive;
}

.container {
	width: 100%;
}

.banner,
main {
	width: 100%;
	float: left;
}

.banner {
	height: 100vh;
	position: relative;
	background-image: url(https://www.choice.com.au/~/media/08d0e1e6f6f24322b10276652fa3ac73.ashx?jq=80&w=994&h=559);
	background-size: cover;
	background-attachment: fixed;
	font-size: 1.5em;
}

.bannerDimmer {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(50, 50, 50, 0.65);
}

.bannerTextContainer {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	text-align: center;
}

.bannerText {
	margin: auto;
	color: #e5e2e2;
	text-shadow: 0 0 1px #333;
}

.searchContainer {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 100%;
	height: 50px;
}

.searchIcon {
	color: #e5e2e2;
	text-shadow: 0 0 1px #333;
	width: 50px;
	text-align: center;
	font-size: 1.35em;
	line-height: 50px;
}

.searchIcon,
.searchBox {
	float: right;
	height: 50px;
	border-radius: 5px;
}

.searchBox {
	width: 0;
	padding: 0;
	border: none;
	color: #e5e2e2;
	text-shadow: 0 0 1px #333;
	font-size: 1.5em;
	background: transparent;
}

.searchIcon:hover {
	cursor: pointer;
	text-shadow: 0 0 4px #333;
}

.searchBox:focus {
	outline: none;
	color: #e5e2e2;
	text-shadow: 0 0 1px #333;
}

.blogContainer {
	width: 100%;
}

.postContainer {
	float: left;
	height: 350px;
	position: relative;
}

.postImage {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.postTitle {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 350px;
	text-align: center;
	color: #e5e2e2;
	text-shadow: 0 0 5px #000;
	text-transform: uppercase;
	z-index: 2;
}

.postContainer:hover {
	cursor: pointer;
}

.dimmer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 1;
}

body {
	overflow-y: scroll;
	scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

.parallax {
	/* Set a specific height */
	min-height: 400px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 100;
}
header .logo{
	position: relative;
	font-weight: 700;
	color: #e5e2e2;
	text-shadow: 0 0 1px #333;
	/* background-color:  rgb(255, 255, 255); */
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transform: 0.6s;
	z-index: 2;
}
header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li{
	position: relative;
	list-style: none;
}
header ul li a{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #e5e2e2;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.6s;
	
}
header ul li a:hover{
	color: orange;
	transition: 0.6s;
	/* scale: 1.10; */
}
/* .postTitle:hover, */
header ul li:hover{
	/* color: orange; */
	transition: 0.4s;
	scale: 1.20;
}
.headerBanner{
	position: relative;
	width: 100%;
	width: 100vh;
	background-size: cover;
}
header.sticky{
	padding: 5px 100px;
	background: #e5e2e2;
}
header.sticky .logo,
header.sticky .toggle_btn,
header.sticky ul li a{
	color: #000;
}
.toggle_btn{
	color: #e5e2e2;
	cursor: pointer;
	font-size: 1.35em;
	display: none;
}

/* DROPDOWN MENU */
.dropdown_menu{
	display: none;
	position: absolute;
	right: 2rem;
	top: 6rem;
	height: 0;
	width: 300px;
	text-decoration: none;
	color: #e5e2e2;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	border-radius: 10px;
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
	height:auto;
}

.dropdown_menu li{
	list-style: none;
	padding: 0.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dropdown_menu li a{
	color: #e5e2e2;
	text-decoration: none;
}
.dropdown_menu li a:hover{
	color: orange;
	transition: 0.2s;
	scale: 1.10;
}

/* RESPONSIVE HEADER */
@media(max-width: 992px){
	header ul li{
		display: none;
	}
	.toggle_btn{
		display: block;
	}
	.dropdown_menu{
		display: block;
		right: -100px;
	}
	.dropdown_menu.open{
		right: 2%;
		transition: all .55s ease;

	}
}
@media(max-width: 576px){
	.dropdown_menu{
		width: unset;
		display: block;
		right: -100px;
	}
	.dropdown_menu.open{
		right: 2%;
		left: 2%;
		transition: all .55s ease;

	}
}